{% extends "base.html" %}

{% block content %}
<h1 style="font-size: 50px">Заказы</h1>
<br><br>
<a href="/order" class="btn btn-secondary">Добавить заказ</a>
<br><br>
{% for order, goods in orders %}
<div class="col-md6 border rounded">
    <div style="font-size: 30px">
        {{ order.id }}. Статус: {{ order.status }}
    </div>
    <div style="font-size: 20px">
        Клиент: {{ order.client }}
    </div>
    <div style="font-size: 20px">
        Дата выполнения: {{ order.date }}
    </div>
    <div style="font-size: 20px">
        <table class="table">
            <thead class="thead-dark">
            <tr style="font-size: 25px">
                <th scope="col">Товар, пазлы</th>
                <th scope="col">Количество, шт</th>
            </tr>
            </thead>
            <tbody>
            {% for name, num in goods %}
            <tr style="font-size: 20px">
                <td>{{ name }}</td>
                <td>{{ num }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="/order/{{ order.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/order_delete/{{ order.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}